<div class="collapse navbar-collapse" id="navbar-user">
    <ul class="nav navbar-nav navbar-right bar-user">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li>
            <a class="page-scroll" href="#events">Événements</a>
        </li>
        <li>
            <a class="btn btn-link" href="#portfolio" data-toggle="modal" ng-click="preSelectThemes()">Préférences</a>
        </li>
        <li class="icon-deconnexion">
            <a class="btn btn-link" ng-click="auth()">Se déconnecter</a>
            <img class="img-circle img-responsive userpicture" ng-src="{{userpicture}}"/>
        </li>
    </ul>
</div>