header {
    background-image: url(img/header-bg.jpg) !important;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 275px !important;
        padding-bottom: 175px !important;
    }
    
        header .intro-text .intro-lead-in {
        font-size: 25px !important;
        font-style: normal !important;
    }
    
        header .intro-text .intro-heading {
        font-size: 45px !important;
    }
}

