<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/troptardmiage.css">
    <title>TropTardMiage</title>
  </head>

  <body ng-app="troptardmiage" ng-controller="MainCtrl">
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container-fluid">
        <a class="navbar-brand text-center" style="position: absolute;width: 100%; margin: auto; left: 0; top: 0" href="#">TropTardMiage</a>
        <div ui-view="navbar-user"></div>
      </div>
    </header>
    <div class="container-fluid">

        <div ui-view></div>

    </div>
    <a href="#" ng-click="loadODCategories()">CHARGEMENT</a>
    <a href="#" ng-click="loadUsers()">LIST</a>

    <footer class="footer">
      <div class="container">
        <p class="text-muted pull-left">Margot Bernard, Paul-Jakez Bocéno et Jérémy Klauer</p>
        <p class="pull-right"><span class="glyphicon glyphicon-heart"></span><a href="https://github.com/jeremate/troptardmiage"> Lien GitHub</a></p>
      </div>
    </footer>

    </div>
    <!-- JS from bower -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- JS from troptardmiage -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/opendataapi.js"></script>

    <script>
      var init = function() {
        console.log("init called");
        window.init();
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    </script>
  </body>
</html>
